.overview-container {
  background-image: url("../../training7.png");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0 0 0 40px;
}
